{{#extends "base"}}
{{#block "title"}}
Display Food Summary
{{/block}}

{{#block "content"}}
<h2>Summary</h2>
<ul>
    <li>Food: {{foodName}}</li>
     <li>Calories: {{calories}}</li>
      <li>Tags: {{tags}}</li>
</ul>
{{/block}}
{{/extends }}