{{#extends "base"}}
{{#block "title"}}
Lost &amp; Found Summary
{{/block}}

{{#block "content"}}
<h2>Summary</h2>
<ul>

    <li>Name of item: {{itemName}}</li>
     <li>Your Email Address: {{email}}</li>
      <li>Last seen location: {{lastLocation}}</li>
      <li>Properties of lost item: {{itemProperty}}</li>
</ul>
{{/block}}
{{/extends }}