{{#extends "base"}}


{{#block "title"}}
All Available Pets
{{/block}}


{{#block "content"}}
<a href="/pets/create" class="btn btn-primary m-3">Add New Pet</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    {{#each all_pets}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.category.name}}</td>
        <td><a href="/pet/{{this.id}}/update" class="btn btn-secondary btn-xs">Edit</a>
    </tr>
    {{/each}}
</table>
{{/block}}

{{/extends}}