{{#extends "base"}}

{{#block "title"}}
Pasta Delight
{{/block}}


{{#block "content"}}
<h1>Welcome to Pasta Delight</h1>
<p>Serving you Pasta the Way Rome intended</p>
<img style="height:40vh" src="pasta-photo.jpeg">
{{/block}}


{{/extends}}